@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --grid-unit: 1rem;
    --border-radius-base: 0.5rem;
  }
  
  [data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #000000;
  }
  
  [data-theme="dark"] {
    --color-bg: #000000;
    --color-fg: #ffffff;
  }
  
  /* example use of CSS custom properties */

  .dark-mode{
    background-color: black;
    color: white;
  }
  